$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$line-height: 1.5;
$font-weight: 400;

$--header-text-color: #252622;
$--header-text-color-secondary: #3A86FF;
$--header-text-color-third: #ffff;
$--para-text-color: #484B45;

$--header-text-color-clicked: #3477e3;

$--background-secondary-color: #ffc107;
$--background-third-color: #484B45;

$color-scheme: light dark;
$color: rgba(255, 255, 255, 0.87);
$background-color: #242424;

$font-synthesis: none;
$text-rendering: optimizeLegibility;
$-webkit-font-smoothing: antialiased;
$-moz-osx-font-smoothing: grayscale;

/*2e About content*/
.about-content{
  display: flex;
  flex-direction: column;
  align-content: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 80%;
  border-radius: 10px;
  margin: 50px auto;

  & hr{
    width: 90%;
    margin: auto;
  }
}

.about-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: $--header-text-color-clicked;
  margin: 20px auto;
  font-family: 'Jhal-Muri';
  gap: 10px;

  & img{
    width: 32px;
    height: 32px;
    filter: brightness(0) saturate(100%) invert(39%) sepia(93%) saturate(621%) hue-rotate(189deg) brightness(102%) contrast(104%);
  }
}

.about-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px auto;
  padding: 0 0 50px;

  & p {
    max-width: 80%;
    margin: auto;
    text-align: center;
  }
}

.icon-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 55px auto;
  max-width: 60%;
}

.icon-list img{
  height: 32px;
  width: 102px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;

  &:hover{
    scale: 0.93;
  }
}