$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$line-height: 1.5;
$font-weight: 400;

$--header-text-color: #252622;
$--header-text-color-secondary: #3A86FF;
$--header-text-color-third: #ffff;
$--para-text-color: #484B45;

$--header-text-color-clicked: #3477e3;

$--background-secondary-color: #ffc107;
$--background-third-color: #484B45;

$color-scheme: light dark;
$color: rgba(255, 255, 255, 0.87);
$background-color: #242424;

$font-synthesis: none;
$text-rendering: optimizeLegibility;
$-webkit-font-smoothing: antialiased;
$-moz-osx-font-smoothing: grayscale;

.contact-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/images/backgrounds/projectshero-bg.webp);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-shadow: 1px 1px 2px black;
  padding: 20px 0;
}

/*2c. Contact box*/

.contact-me-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  padding: 20px 0;
  width: 600px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  & form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
  }

  & img {
    height: 15px;
    width: 15px;
    margin: auto 0;
  }

  & textarea{
    resize: vertical; 
    max-height: 200px;
    min-height: 100px;
  }

  & button{
    margin: 10px 0;
  }
}

.row-one{
  display: flex;
  flex-direction: row;
  gap: 10px;
}