  //Nextjs has Strict CSS, so i cannot utlize vanillia css :root variables, However scss does have its own variables.
  $font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  $line-height: 1.5;
  $font-weight: 400;

  $--header-text-color: #252622;
  $--header-text-color-secondary: #3A86FF;
  $--header-text-color-third: #ffff;
  $--para-text-color: #484B45;

  $--header-text-color-clicked: #3477e3;

  $--background-secondary-color: #0d6efd;
  $--background-third-color: #484B45;
  $--background-fourth-color: #ffff;

  $color-scheme: light dark;
  $color: rgba(255, 255, 255, 0.87);
  $background-color: #242424;

  $font-synthesis: none;
  $text-rendering: optimizeLegibility;
  $-webkit-font-smoothing: antialiased;
  $-moz-osx-font-smoothing: grayscale;

.hero-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to top,#0051d6 0%,#0061ff 100%);
  backdrop-filter: brightness(99);
  background-size: cover;
  background-attachment: fixed;
}

.hero-group{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 30px;
}

.hero-col-1{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 700px;

  p {
    color: $--header-text-color-third
  }

  & h1{
    color: $--header-text-color-third;
    font-weight: 700;
    font-size: 40px;
    & span{
      font-family: 'hey-comic';
      color: $--header-text-color-third;
      }
  }

  & h2 {
    color: $--header-text-color-third;

    & span{
    font-family: 'hey-comic';
    color: $--header-text-color-third;
    }
  }

  & span{
    font-family: 'Jhal-Muri';
  }

  & button{
    margin: auto;
  }
}

.hero-col-2 img{
  border-radius: 50%;
  border: solid 5px white;
}

.hero-social-links {
  display: flex;
  gap: 10px;
  margin: auto auto 15px;

  & img{
    width: 25px;
    height: 25px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(207deg) brightness(106%) contrast(103%);
    cursor: pointer;
    transition: 0.3s;

  &:hover{
    filter: brightness(0) saturate(100%) invert(21%) sepia(43%) saturate(5199%) hue-rotate(210deg) brightness(99%) contrast(89%);
    scale: 0.90;
  }

  }
}

/*2a. Home info*/
.home-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px 0;

  & .info-title{
    display: flex;
    flex-direction: row;
    gap: 10px;

    & img{
      height: 32px;
      width: 32px;
      margin: auto 0;
      filter: brightness(0) saturate(100%) invert(39%) sepia(93%) saturate(621%) hue-rotate(189deg) brightness(102%) contrast(104%);
    }
  }

  & h1 {
    color: $--header-text-color-secondary;
    line-height: 1.5;
  }

  & hr {
    width: 50%;
  }
}

.home-about-me-intro{
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;

  p {
    max-width: 80%;
    color: $--para-text-color;
    text-align: center
  }

  a {
    width: 30%;
  }

  & button {
    margin: 20px auto; 
    width: 100%;
  }
}

/*3a. Skills*/
.home-inner-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $--background-secondary-color;

  & .skills-txt{
    display: flex;
    flex-direction: row;
    gap: 5px;

    & img{
      height: 32px;
      width: 32px;
      margin: auto 0;
      filter: brightness(0) saturate(100%) invert(98%) sepia(6%) saturate(0%) hue-rotate(137deg) brightness(114%) contrast(100%);
    }
  }
}

.home-skills{
  & h1{
    color: $--header-text-color-third;
    font-size: 60px;
  }

  & img {
    width: 100%;
  }

  & hr{
    width: 80%;
  }
}

.skill-item-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 60%;
}

.skill-item{
  background-color: $--background-fourth-color;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0.3rem;
  padding: 5px;
  margin: 10px;
  border: solid transparent 2px;

  &:hover{
    scale: 0.93;
    border: solid rgb(216, 216, 216) 2px;
  }

  & h1{
    color: $--header-text-color-secondary;
    font-size: 1rem;
    margin: auto;
  }
}

/*4a. Projects*/
.home-projects{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .project-title{
    display: flex;
    flex-direction: row;
    gap: 15px;

    
    & img{
      height: 32px;
      width: 32px;
      margin: auto 0;
      filter: brightness(0) saturate(100%) invert(39%) sepia(93%) saturate(621%) hue-rotate(189deg) brightness(102%) contrast(104%);
    }
  }

  & h1 {
    color: $--header-text-color-secondary;
  }

  & hr {
    width: 80%;
  }
}

.project-list-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
