.item-project-title{
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    font-size: 40px;
  }

  p {
    margin: auto;
  }
}

.item-project-btn-container{
  display: flex;
  gap: 10px;
  margin: 20px auto;
}

//Going to reuse this
.project-readmore-btn{
  button {
    background: none;
    border: none;
  }

  p {
    font-weight: 600;
    color: rgb(0, 110, 255);
  }
}