//Default styling for the whole application

@font-face {
  font-family: 'Jhal-Muri';
  src: url(../../fonts/Jhal-Muri.ttf);
}

@font-face {
  font-family: 'hey-comic';
  src: url(../../fonts/hey-comic.ttf);
}

$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$line-height: 1.5;
$font-weight: 400;

$--header-text-color: #252622;
$--header-text-color-secondary: #3A86FF;
$--header-text-color-third: #ffff;
$--para-text-color: #484B45;

$--header-text-color-clicked: #3477e3;

$--background-secondary-color: #ffc107;
$--background-third-color: #484B45;

$color-scheme: light dark;
$color: rgba(255, 255, 255, 0.87);
$background-color: #242424;

$font-synthesis: none;
$text-rendering: optimizeLegibility;
$-webkit-font-smoothing: antialiased;
$-moz-osx-font-smoothing: grayscale;

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.wave-componet img{
  height: 100%;
  width: 100%;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: $--header-text-color-third;
  width: 100%;
  z-index: 500;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;

  li {
    list-style: none;
  }

  & h1{
    font-family: 'Jhal-Muri';
    font-weight: 900;
    font-size: 40px;
    margin: 6px 0;
  }

  & .nav-title{
    text-decoration: none;
    color: $--header-text-color;
  }

  & .nav-row{
    display: flex;
    flex-direction: row;
    gap: 10px;

    & img{
      height:  42px;
      width: 42px;
      border-radius: 50%;
      margin: 5px;
    }
  }

  & ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
  }

  & a:not(.nav-title) {
    color: $--header-text-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    transition: color 0.4s;
    color: $--background-third-color;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 2px;
      background-color: transparent;
      transition: background-color 0.4s;
    }

    &:hover {
      color: $--header-text-color-secondary;
    }

    &:hover::after {
      animation: navAni 0.5s forwards;
      background-color: $--header-text-color-secondary;
    }
  }
}

.darkmode-toggle{
  width: 90px;
  height: 32px;
  margin: auto 10px;
  background-color: transparent;
  border: none;

  & .darkmode-toggle--day{
    animation: daytonightbg 0.7s forwards;
    background-image: url(../../assets/images/functional/darkmode-switch-light.svg);

    & img {
      width: 26px;
      height: 26px;
      position: absolute;
      right: 5%;
      animation: nighttoday 0.7s forwards;
      bottom: 2%;
    }
  }

  & .darkmode-toggle--night{
    animation: daytonightbg 0.7s forwards;

    & img {
      width: 26px;
      height: 26px;
      position: absolute;
      bottom: 2%;
      animation: daytonight 0.7s forwards;
      left: 5%;
    }
  }

  & div {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.mobile-nav,
.mobile-navigation{
  display: none;
}

@keyframes daytonightbg{
  from {
    filter: brightness(0.5);
  }
  to {
    filter: brightness(1);
  }
}

@keyframes daytonight {
  from {
    left: 5%;
    transform: translateX(0%);
  }
  to {
    left: 5%;
    transform: translateX(40px);
    filter: drop-shadow(0 0 0.25rem rgba(255, 255, 255, 0.799));
  }
}

@keyframes nighttoday {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-45px);
    filter: drop-shadow(0 0 0.25rem rgba(255, 255, 255, 0.799));
  }
}

@keyframes navAni {
  from {
    transform: scaleX(0);
    width: 100%;
  }
  to {
    transform: scaleX(1);
    width: 100%;
  }
}

//==================================
//Footer
.footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #242424;
  color: $--header-text-color-third;
  margin: 50px 0 0;

  & h2 {
    font-family: 'Jhal-Muri';
  }
  & a {
    text-decoration: none;
    color: $--header-text-color-third;
  }

  & .footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
    padding: 30px 80px;

    & .footer-content h2{
      font-size: 22px;
    }
  }

  & .footer-col-2 p{
    font-size: 15px;
    max-width: 500px;
  }

  & .footer-row-2{
     text-align: center;
  }

  & .footer-social-links {
    display: flex;
    gap: 10px;
    margin: auto auto 15px;
  
    & img{
      width: 25px;
      height: 25px;
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7440%) hue-rotate(107deg) brightness(111%) contrast(101%);
      cursor: pointer;
      transition: 0.3s;
  
       &:hover{
        filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(1590%) hue-rotate(209deg) brightness(95%) contrast(89%);
        scale: 0.90;
      }
    }
  }
}

//=================================
//Scroll button
.scroll-btn{
  display: flex;
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: $--header-text-color-secondary;
  border-radius: 50%;
  z-index: 50;
  margin: auto;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;

  & img{
    width: 22px;
    height: 22px;
    margin: auto;
    z-index: 50;
    filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(6%) hue-rotate(11deg) brightness(105%) contrast(100%);
  }

  &:hover{
    scale: 0.94;
  }
}
//==================================
//Dark mode

.dark-mode-daytime{
  background-image: url('../../assets/images/functional/darkmode-switch-light.svg');
  background-size: cover;
  height: 40px;
  width: 100px;
  position: relative;
  animation: daytimeSwitch 0.6s forwards;

  & img {
    position: absolute;
    left: -10%;
    animation: dayTimeSwitchSun 1s forwards;
  }

  @keyframes daytimeSwitch {
    from {
      filter: opacity(0);
    }
    to {
      filter: opacity(1);
    }
  }

  @keyframes dayTimeSwitchSun {
    from {
      
    }
    to {
      transform: translateX(35px);
    }
  }
}

.dark-mode-nighttime{
  background-image: url('../../assets/images/functional/darkmode-switch-dark.svg');
  background-size: cover;
  height: 40px;
  width: 100px;
  position: relative;
  animation: nighttimeSwitch 0.6s forwards;

  & img {
    position: absolute;
    left: -10%;
    animation: dayTimeSwitchMoon 1s forwards;
  }

  @keyframes nighttimeSwitch {
    from {
      filter: opacity(0);
    }
    to {
      filter: opacity(1);
    }
  }

  @keyframes dayTimeSwitchMoon {
    from {
      
    }
    to {
      transform: translateX(-20px);
    }
  }
}

.dark-mode-toggle{
  & button {
    background: none;
    border: none;
  }

  & img {
    width: 100px;
    height: 35px;
  }
}

.night-mode {
  background-color: #1c1c1c;
  color: white;

  & .home-skills {
    & .wave-componet{
      filter: brightness(0) saturate(100%) invert(9%) sepia(0%) saturate(3%) hue-rotate(66deg) brightness(97%) contrast(84%);
    }
  }

  & .home-inner-content {
    background-color: #272727;
  }

  & .nav-bar {
    background-color: #272727;

    & a {
      color: white;
    }
  }

  & .project-back {
    background-color: #272727;
    color: black;
  }

  & .blog-share-btn{
    & img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(256deg) brightness(104%) contrast(101%);
    }
  }

  & .projects-page-title {
    & h1 {
      color: white;
    }
  }

  & .home-info {
    & p {
      color: white;
    }
  }

  & .page-wave{
      filter: brightness(0) saturate(100%) invert(7%) sepia(4%) saturate(15%) hue-rotate(156deg) brightness(94%) contrast(90%);
  }

  & .project-page-item,
    .blog-list-item{
    background-color: #272727;

    & h3 {
      color: white;
    }
  }

  & .about-content{
    background-color: #272727;
  }

  & .contact-me-container{
    background-color: #272727;

    img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(4%) hue-rotate(227deg) brightness(106%) contrast(100%);
    }

    input {
      background-color: #3e3e3e;
      
      &::placeholder {
        color: white;
      }
    }
  }

  & .blog-share-popup {
    background-color: #272727;

    h1 {
      color: white;
    }
    
    img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(256deg) brightness(104%) contrast(101%);
    }
  }
}

//==================================
//Media Quarys

@media (max-width:960px) {
  .hero-col-2{
    & img{
      display: none;
    }
  }

  .nav-bar {
    & .non-mobile-nav{
      display: none;
    }
  }

  .mobile-navigation{
    display: flex;
  }

  .mobile-nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5px;
    right: 0px;

    & img {
      margin-left: auto;
      height: 32px;
      width: 32px;
      cursor: pointer;
      transition: 0.2s;

      &:active{
        scale: 0.9;
      }
    }
  }

  .mobile-nav-menu{
    background-color: $--header-text-color-third;
    border-bottom: solid 3px rgba(0, 0, 0, 0.153);
    width: 100vw;
    margin-top: 2%;
    & ul {
      gap: 5%;
    }
  }

  .contact-me-container{
    width: 80%;
    & form {
      width: 80%;
    }
  }

  .blog-post-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 90%;
  }

  .blog-share-popup{
    position: absolute;
    right: 10px;
  }
}