  //Nextjs has Strict CSS, so i cannot utlize vanillia css :root variables, However scss does have its own variables.
  $font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  $line-height: 1.5;
  $font-weight: 400;

  $--header-text-color: #252622;
  $--header-text-color-secondary: #3A86FF;
  $--header-text-color-third: #ffff;
  $--para-text-color: #484B45;

  $--header-text-color-clicked: #3477e3;

  $--background-secondary-color: #ffc107;
  $--background-third-color: #484B45;

  $color-scheme: light dark;
  $color: rgba(255, 255, 255, 0.87);
  $background-color: #242424;

  $font-synthesis: none;
  $text-rendering: optimizeLegibility;
  $-webkit-font-smoothing: antialiased;
  $-moz-osx-font-smoothing: grayscale;

.hero-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../assets/images/backgrounds/hero-background.webp);
  background-size: cover;
  background-attachment: fixed;
}

.hero-group{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 30px;
}

.hero-col-1{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 700px;

  & h1{
    color: $--header-text-color;
    font-weight: 700;
  }

  & h2 {
    color: $--para-text-color;

    & span{
    font-family: 'hey-comic';
    color: $--header-text-color-secondary;
    }
  }

  & span{
    font-family: 'Jhal-Muri';
  }

  & button{
    margin: auto;
  }
}

.hero-col-2 img{
  border-radius: 50%;
}

.hero-social-links {
  display: flex;
  gap: 10px;
  margin: auto auto 15px;

  & img{
    width: 25px;
    height: 25px;
    filter: brightness(0) saturate(100%) invert(33%) sepia(62%) saturate(6266%) hue-rotate(211deg) brightness(103%) contrast(98%);
    cursor: pointer;
    transition: 0.3s;

  &:hover{
    filter: brightness(0) saturate(100%) invert(21%) sepia(43%) saturate(5199%) hue-rotate(210deg) brightness(99%) contrast(89%);
    scale: 0.90;
  }

  }
}

/*2a. Home info*/
.home-info{
  display: flex;
  flex-direction: column;
  align-items: center;

  & .info-title{
    display: flex;
    flex-direction: row;
    gap: 10px;

    & img{
      height: 32px;
      width: 32px;
      margin: auto 0;
      filter: brightness(0) saturate(100%) invert(39%) sepia(93%) saturate(621%) hue-rotate(189deg) brightness(102%) contrast(104%);
    }
  }

  & h1 {
    color: $--header-text-color-secondary;
    line-height: 1.5;
  }

  & p {
    max-width: 900px;
  text-align: center;
  color: $--para-text-color
  }

  & button {
    margin: 30px auto; 
  }

  & hr {
    width: 50%;
  }
}

.icon-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 55px auto;
  max-width: 60%;
}

.icon-list img{
  height: 32px;
  width: 102px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;

  &:hover{
    scale: 0.93;
  }
}

/*3a. Skills*/
.home-inner-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $--background-secondary-color;

  & .skills-txt{
    display: flex;
    flex-direction: row;
    gap: 5px;

    & img{
      height: 32px;
      width: 32px;
      margin: auto 0;
      filter: brightness(0) saturate(100%) invert(98%) sepia(6%) saturate(0%) hue-rotate(137deg) brightness(114%) contrast(100%);
    }
  }
}

.home-skills{
  & h1{
    color: $--header-text-color-third;
    font-size: 60px;
  }

  & img {
    width: 100%;
  }

  & hr{
    width: 80%;
  }
}

.skill-item-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 60%;
}

.skill-item{
  background-color: $--background-third-color;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0.3rem;
  padding: 10px;
  margin: 10px;

  &:hover{
    scale: 0.93;
  }

  & h1{
    color: $--header-text-color-third;
    font-size: 1rem;
  }
}

/*4a. Projects*/
.home-projects{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .project-title{
    display: flex;
    flex-direction: row;
    gap: 15px;

    
    & img{
      height: 32px;
      width: 32px;
      margin: auto 0;
      filter: brightness(0) saturate(100%) invert(39%) sepia(93%) saturate(621%) hue-rotate(189deg) brightness(102%) contrast(104%);
    }
  }

  & h1 {
    color: $--header-text-color-secondary;
  }

  & hr {
    width: 80%;
  }
}

.project-list-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.project-item {
  position: relative;
  width: 300px; 
  height: 200px; 
  perspective: 1000px; 

  & .project-front, .project-back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    background-color: #fff;
    gap: 5px;

    & h1 {
      font-size: 25px;
    }

    & img {
      width: 300px;
      height: 200px;
      border-radius: 10px;
    }
  }

  & .project-front{
    color: #333;
    border: solid 1px rgba(185, 185, 185, 0.685);
  }

  & .project-back {
    transform: rotateY(180deg); 
    text-align: center;

    & p {
      max-width: 400px;
    }
  }
}

.project-item:hover .project-front, .project-item:active .project-front {
  transform: rotateY(-180deg); /* Rotate the front face to show the back face */
}

.project-item:hover .project-back, .project-item:active .project-back {
  transform: rotateY(0deg); /* Rotate the back face to show the front face */
}